/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;600&display=swap");
/* common style ----------- */


body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  width: 100%;
}

.header {
  background: rgba(255, 144, 14, 0.1);
  padding:50px 150px ;
}

main, footer {
  padding:50px 150px ;
}

.btn-primary {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  width: 180px;
  height: 64px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 30px;
}

.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
/* <!-- nav section ------------------------ --> */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav .nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* <!-- Brand new Architects section ------------------- --> */

.brand-new {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.article {
  margin-top: 50px;
  text-align: center;
}

.brand-title {
  margin-bottom: 30px;
  color: #131313;
  font-weight: 700;
  font-size: 64px;
}

.brand-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

/* <!-- Architects-banner section ------------------- --> */

.Architects-banner img {
  width: 100%;
  height: auto;
  margin-top: 50px;
  border-radius: 8px;
}

/* quick-list-section ------------------------------ */

.quick-list-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 70px;
}

.list-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quick-list-banner {
  width: 60%;
}

.quick-list-info {
  width: 40%;
}

.list-banner img {
  width: 100%;
 
  object-fit: contain;
}

.quick-list-title {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}

.quick-list-black {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.quick-list-yellow {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}

/* <!-- Features section --------- ----------------------------> */

.feature-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  column-gap: 100px;
  align-items: center;
}

.feature {
  width: 45%;
}

.feature-banner {
  width: 55%;
}

.feature-banner .banner-pic img {
  width: 100%;
  height: 100%;
}

.feature-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-left: 20px;
}

.vl {
  border-left: 5px solid #ff900e;
}

.feature-item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5px 15px 0px 20px;
  margin-bottom: 20px;
}

.feature-item-title {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
}

.btn-absolute {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.btn-absolute span {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.banner-pic {
  position: relative;
}

.absolute-btn {
  position: absolute;
  bottom: -50px;
  left: -60px;
}

/* <!-- some fact section  ----------------------> */

.wrap {
  width: 50%;
  word-wrap: break-word;
}
.some-fact-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.some-fact-item {
  text-align: center;
  padding: 45px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}

.some-fact-item:hover {
  transform: rotate(400deg);
}

/* our sponsor section --------------------------- */

.our-sponsor-info {
  text-align: center;
}

.our-sponsor-banner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.sponsor-banner {
  filter: grayscale(100%);
}


/* <!-- lets start a conversation section  ---------------------> */


.conversation-title{
    text-align: center;
    font-size: 24px;
    color: #101820;
}
.conversation-container{
  background-color: #f2f2f2;
padding: 5px 20px 15px 20px;
border: 1px solid lightgray;
border-radius: 4px;
margin-bottom: 100px;

}

input[type="text"],
input[type="email"],
textarea
{ width: 100%;
    padding: 12px;
    background-color: white;
    border-radius: 0px;
    margin: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: none;
   border-bottom:1px solid#11171d;
}

input[type="submit"]{
        background-color: #11171d;
        color: white;
        padding: 15px 35px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: 100%;
        font-size: 20px;
    }


    input[type="submit"]:hover{
        background-color: darkorange;
     }
     

     input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
        border-bottom:1px solid rgb(255,0,106);

}

form{
    
    max-width:550px;
   width:90%;
    background:white;
   margin:1vh auto auto;
    padding:40px;
    border-radius:3px;
        box-sizing:border-box;
    }

/* footer section - ---------------------------- */



.footer-title h3 {
    background: #FFF4E7;
border-radius: 8px;
padding: 20px ;
    color: #424242;
    font-weight: 400;
font-size: 20px;
text-align: center;

}

/* responsive style ----------------------------------------
------------------------------------------------------------ */

/* for mobile -------------------------------------------------------------------------*/

@media only screen and (max-width: 688px) {

    .header {
        background: rgba(255, 144, 14, 0.1);
        padding:50px ;
      }
      
      main, footer {
        padding:50px ;
      }
  /* nav responsive style --------------------- */
  .nav,
  .nav-list {
    flex-direction: column;
    gap: 20px;
  }
  .nav-title {
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .article {
    margin-top: 0;
  }

  /* quick list responsive --------------------------- */

  .quick-list-container {
    flex-direction: column;
  }

  .list-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-title {
    font-size: 35px;
  }
  /* <!-- Features section responsive --------- ----------------------------> */

  .feature-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .feature-title {
    font-size: 30px;
  }

  .btn-absolute {
    font-size: 20px;
  }

  .btn-absolute span {
    font-size: 10px;
  }

  .feature-item {
    width: 100%;
  }

  /* some fact section  responsive -----------*/

  .section-title {
    font-size: 30px;
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .some-fact-container {
    flex-direction: column;
    row-gap: 20px;
  }

  /* our-sponsor-section responsive ------------------ */
  .our-sponsor-banner {
    flex-direction: column;
    row-gap: 30px;
  }

/* <!-- lets start a conversation section responsive ---------------------> */

.conversation-title {
    font-size: 20px;
}

input[type="submit"] {

    padding: 15px ;

}

.conversation-container p span {
 white-space: nowrap;
}

}
