/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;600&display=swap");
/* common style ----------- */

/* body {
    font-family: 'Work Sans', sans-serif;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(255, 144, 14, 0.1);
} */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  width: 100%;
}

.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px;
}

main {
  padding: 50px;
}
.btn-primary {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  width: 180px;
  height: 64px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding-bottom: 30px;
}

.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
/* <!-- nav section ------------------------ --> */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav .nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* <!-- Brand new Architects section  --> */

.brand-new {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.article {
  margin-top: 50px;
  text-align: center;
}

.brand-title {
  margin-bottom: 30px;
  color: #131313;
  font-weight: 700;
  font-size: 64px;
}

.brand-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

/* <!-- Architects-banner section  --> */

.Architects-banner img {
  width: 100%;
  height: auto;
  margin-top: 50px;
  border-radius: 8px;
}

/* quick-list-section ------------------------------ */

.quick-list-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 70px;
}

.list-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

.quick-list-banner {
  width: 60%;
}

.quick-list-info {
  width: 40%;
}

.list-banner img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.quick-list-title {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}

.quick-list-black {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.quick-list-yellow {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}

/* <!-- Features section --------- ----------------------------> */

.feature-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  column-gap: 100px;
}

.feature {
  width: 45%;
}

.feature-banner {
  width: 55%;
}

.feature-banner .banner-pic img {
  width: 100%;
  height: auto;
}

.feature-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-left: 20px;
}

.vl {
  border-left: 5px solid #ff900e;
}

.feature-item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5px 15px 0px 20px;
  margin-bottom: 20px;
}

.feature-item-title {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
}

.btn-absolute {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.btn-absolute span {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.banner-pic {
  position: relative;
  /* width: 100%; */
}

.absolute-btn {
  position: absolute;
  bottom: -50px;
  left: -60px;
}

/* <!-- some fact section  ----------------------> */

.wrap {
  width: 50%;
  word-wrap: break-word;
}
.some-fact-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.some-fact-item {
  text-align: center;
  padding: 45px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}

.some-fact-item:hover {
  transform: rotate(400deg);
}

/* our sponsor section  */

.our-sponsor-info {
  text-align: center;
}

.our-sponsor-banner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.sponsor-banner {
  filter: grayscale(100%);
}

/* responsive style ----------------------------------------
------------------------------------------------------------ */

/* for mobile -------------------------------------------------------------------------*/

@media only screen and (max-width: 688px) {
  /* nav responsive style  */
  .nav,
  .nav-list {
    flex-direction: column;
    gap: 20px;
  }
  .nav-title {
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .article {
    margin-top: 0;
  }

  /* quick list responsive  */

  .quick-list-container {
    flex-direction: column;
  }

  .list-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-title {
    font-size: 35px;
  }
  /* <!-- Features section responsive --------- ----------------------------> */

  .feature-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .feature-title {
    font-size: 30px;
  }

  .btn-absolute {
    font-size: 20px;
  }

  .btn-absolute span {
    font-size: 10px;
  }

  .feature-item {
    width: 100%;
  }

  /* some fact section  responsive -----------*/

  .section-title {
    font-size: 30px;
  }

  .center {
    text-align: center;
    width: 100%;
  }

  .some-fact-container {
    flex-direction: column;
    row-gap: 20px;
  }

  /* our-sponsor-section responsive ------------------ */
  .our-sponsor-banner {
    flex-direction: column;
    row-gap: 30px;
  }
}
